.container {
  padding: 40px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.3s ease;
}

.men-section {
  background: #002772;
  color: white;
}

.women-section {
  background: #720060;
  color: white;
}

.unavailable-section {
  background: #999;
  color: white;
}

.content {
  display: flex;
  gap: 60px;
  align-items: center;
}

.left {
  flex: 1;
  text-align: center;
}

.product-image {
  width: 350px;
  object-fit: contain;
}

.right {
  flex: 2;
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
  color: #000000;
}

.title-mens {
  color: #002772;
}

.title-womens {
  color: #720060;
}

.category-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  font-size: 14px;
}

.category {
  display: contents;
  text-transform: lowercase;
  color: #777;
}

.description {
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: left;
  color: #000000;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #777;
}

.hr {
  display: none;
  border: 0;
  border-top: 0px solid #000000;
  margin: 15px 0;
}

.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #7b1e6a;
}

.dot.active {
  background: #7b1e6a;
}
.bottom {
  margin-top: 30px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  color: #7b1e6a;
}

.buttons {
  display: flex;
  gap: 20px;
}

/* Buy Button */
.buy {
  background: #7b1e6a;
  color: white;
  padding: 12px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* Next Button */
.next {
  background: transparent;
  border: 2px solid #7b1e6a;
  color: #7b1e6a;
  padding: 12px 40px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.product-image {
  width: 250px;
  object-fit: contain;
}

/* Details */
.details {
  flex: 1;
  text-align: left;
  color: #000;
}

.details h2 {
  margin-bottom: 10px;
  color: #000;
}

.details p {
  font-size: 14px;
  justify-content: left;
  color: #000000;
  margin-bottom: 20px;
}

.details h3 {
  margin-bottom: 20px;
  color: #000;
}

/* Button */
button {
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

/* Unavailable */
.unavailable {
  text-align: center;
  width: 100%;
}

.card {
  width: 1100px;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.skeleton-wrapper div {
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 6px;
  margin-bottom: 15px;
}

.skeleton-wrapper .image {
  width: 250px;
  height: 250px;
}

.skeleton-wrapper .title {
  height: 20px;
  width: 80%;
}

.skeleton-wrapper .text {
  height: 15px;
  width: 100%;
}

.skeleton-wrapper .short {
  width: 60%;
}

.skeleton-wrapper .price {
  height: 18px;
  width: 30%;
}

.skeleton-wrapper .button {
  height: 40px;
  width: 120px;
  border-radius: 20px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
